<html>
<head>
    <title>ChildActionValueProvider的数据结构</title>
    <link rel="stylesheet" href="~/content/bootstrap.css" />
    <link rel="stylesheet" href="~/content/site.css" />
</head>
<body>
    @Html.Action("DataOfChildActionValueProvider", new { Foo = 123, Bar = 456, Baz = 789 })
</body>
</html>


