@model IEnumerable<ModelValidationResult>
<html>
<head>
    <title>验证结果</title>
    <link rel="stylesheet" href="/Content/bootstrap.css" />
    <link rel="stylesheet" href="/Content/site.css" />
</head>
<body>
    <table class="table table-bordered">
        <tr><th>Member</th><th>Message</th></tr>
        @foreach (ModelValidationResult result in Model)
        {
            string propertyName = string.IsNullOrEmpty(result.MemberName) ?"N/A" : result.MemberName;
            <tr><td>@propertyName</td><td>@result.Message</td></tr>
        }
    </table>
</body>


</html>
