@model IDictionary<string, ModelValidator[]> 
<html>
<head>
    <title>ModelValidators</title>
    <link rel="stylesheet" href="/Content/bootstrap.css" />
    <link rel="stylesheet" href="/Content/site.css" />
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr><th>Property</th><th>ModelValidator</th></tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td rowspan="@item.Value.Length">@item.Key</td>
                     @foreach (ModelValidator validator in item.Value)
                     {                         
                        <td>@validator.GetType().Name</td>
                     }
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
