@model OperationData
<html>
<head>
    <title>将验证特性应用在参数上</title>
    <link rel="stylesheet" href="/Content/bootstrap.css" />
    <link rel="stylesheet" href="/Content/site.css" />
</head>
<body>
    @Html.EditorForModel()
</body>

</html>
