<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <configSections>
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
      <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <exceptionHandling>
      <exceptionPolicies>
        <add name="defaultPolicy">
          <exceptionTypes>
            <add type="VM.Models.InvalidUserNameException, VM" postHandlingAction="ThrowNewException" name="InvalidUserNameException">
              <exceptionHandlers>
                <add name="ErrorMessageHandler" type="VM.Mvc.Extensions.ErrorMessageHandler, Extensions" errorMessage="用户名不存在" />
              </exceptionHandlers>
            </add>
            <add type="VM.Models.InvalidPasswordException, VM" postHandlingAction="ThrowNewException" name="InvalidPasswordException">
              <exceptionHandlers>
                <add name="ErrorMessageHandler" type="VM.Mvc.Extensions.ErrorMessageHandler, Extensions" errorMessage="密码与用户名不匹配" />
              </exceptionHandlers>
            </add>
            <add type="VM.Models.OutOfStockException, VM" postHandlingAction="ThrowNewException" name="OutOfStockException">
              <exceptionHandlers>
                <add name="ErrorMessageHandler" type="VM.Mvc.Extensions.ErrorMessageHandler, Extensions" errorMessage="库存不足！" />
              </exceptionHandlers>
            </add>
          </exceptionTypes>
        </add>
      </exceptionPolicies>
    </exceptionHandling>
    <unity>
      <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
      <containers>
        <container>
          <extension type="Interception" />
          <register type="VM.Services.IProductService, VM" mapTo="VM.Services.ProductService, VM" />
          <register type="VM.Repositories.IProductRepository, VM" mapTo="VM.Repositories.ProductRepository, VM" />
          <register type="VM.Services.IOrderService, VM" mapTo="VM.Services.OrderService, VM">
            <interceptor type="InterfaceInterceptor" />
            <policyInjection />
          </register>
          <register type="VM.Repositories.IOrderRepository, VM" mapTo="VM.Repositories.OrderRepository, VM" />
        </container>
      </containers>
    </unity>
    <connectionStrings>
      <add name="VmDb" providerName="System.Data.SqlClient" connectionString="data source=.\SQLEXPRESS;uid=sa;pwd=password;AttachDBFilename=|DataDirectory|\VM.mdf;" />
      <add name="VM" connectionString="metadata=res://*/VM.csdl|res://*/VM.ssdl|res://*/VM.msl;provider=System.Data.SqlClient;provider connection string='data source=.\SQLEXPRESS;uid=sa;pwd=password;AttachDBFilename=|DataDirectory|\VM.mdf;'" providerName="System.Data.EntityClient" />
    </connectionStrings>
 
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="pageSize" value="3" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Login" timeout="2880" />
    </authentication>
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <add applicationName="VM" connectionStringName="VMDB" name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requiresQuestionAndAnswer="false" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="1" />
      </providers>
    </membership>
    <roleManager defaultProvider="SqlRoleProvider" enabled="true">
      <providers>
        <add applicationName="VM" connectionStringName="VMDB" name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>