@model IEnumerable<GeneralMovieInfo>
@{
    PagingInfo pagingInfo = new PagingInfo
    {
         PageIndex = (int)ViewBag.PageIndex,
         RecordCount = (int)ViewBag.RecordCount
    };
    Func<int, UrlHelper, string> pageUrlAccessor = (Func<int, UrlHelper,string>)ViewBag.PageUrlAccessor;
}
<div class="paging">@Html.PageLinks(pagingInfo, pageIndex=>pageUrlAccessor(pageIndex,Url))</div>
<ul class="products">
    @foreach (GeneralMovieInfo movie in this.Model)
    { 
        <li>
            @Html.DisplayFor(m => movie)<div style="clear:both" />
        </li>
    }
</ul>
<div class="paging">@Html.PageLinks(pagingInfo, pageIndex=>pageUrlAccessor(pageIndex,Url))</div>